* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgba(27, 29, 33, 1);
  font-family: Inter;
}
.container {
  background-color: rgba(35, 40, 60, 1);
  opacity: 0.8;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-left: 120px;
  padding-right: 120px;
}

h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  cursor: pointer;
}
.navigation-bar {
  display: flex;
  gap: 24px;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  cursor: pointer;
}

.header-title {
  text-align: center;
  color: white;
  margin-top: 26px;
}

.home-navigation {
  color: rgba(130, 155, 243, 1);
}

.movie-card {
  color: white;
  width: 220px;
  height: 354px;
  border-radius: 20px;
  background-color: rgba(51, 57, 78, 1);
  cursor: pointer;
}

.h3-title {
  margin-top: 17px;
  margin-left: 16px;
  font-weight: 400;
  font-style: Medium;
  font-size: 18px;
}

.h4-title {
  margin-top: 12px;
  margin-left: 16px;
  color: rgba(205, 212, 236, 1);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
}
.main-box {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  gap: 25px;
}

.pagination {
  display: flex;
  gap: 6px;
  align-items: center;
  background: transparent;
  width: 300px;
  margin: 0 auto;
  height: 500px;
}

.pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: rgba(51, 57, 78, 1);
  border: 1px solid #334155;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.pagination a:hover {
  background-color: #1e293b;
}

.pagination a.active {
  background-color: #2563eb;
  border-color: #2563eb;
  font-weight: bold;
}
